body {
    background-color: deepskyblue;
    font-family: courier, monospace;
    text-align: center;
    color: white;
}

#counter {
    width: 800px;
    margin-left: 0px;
    position: absolute;
    padding-top: 70px;
    font-size: 50px;
}

#bottom {
    margin: auto;
    position: absolute;
    margin-left: 155px;
    padding-top: 100px;
    font-size: 30px;
    word-spacing: 30px;
}
